h1 {
    transition: all .5s;
    font-size: 18vh;
    font-weight: 600;
    color: #fff;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 5vh;
    padding: 20px;
    transition: all .5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#numero {
    font-size: 20vh;
}

#numero,
#nome {
    font-weight: 600;
    color: rgb(253, 255, 107);
}

#nome {
    font-size: 12vh;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


/* ************ */

body {
    transition: all .5s;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    position: absolute;
    top: 3%;
    text-align: center;
}

ul.menu {
    transition: all .5s;
    list-style: none;
    padding: 20px;
}

ul.menu li {
    display: inline;
}

ul.menu li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.menu li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.menu li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.menu li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.menu li input[type="checkbox"]:checked+label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.menu li input[type="checkbox"] {
    display: absolute;
    transition: all 0.5s;
}

ul.menu li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.menu li input[type="checkbox"]:focus+label {
    border: 2px solid #e9a1ff;
}

p {
    transition: all 0.5s;
}