<% include ./partials/header %>

<div class="container">
    <div style="display: inline-block">
        <h1>4F</h1>
        <ul class="menu">
            <li>
                <button class="button"><span>Estrai</span></button>
            </li>
            <br />
            <li>
                <input
                    type="checkbox"
                    id="remove"
                    value="Elimina dopo estrazione"
                /><label for="remove">Elimina dopo estrazione</label>
            </li>
        </ul>
    </div>

    <ul id="persone"></ul>

    <p id="numero"></p>
    <p id="nome"></p>
</div>

<% include ./partials/footer %>
