<% include ./partials/header %>


<div class="container">
    <div style="display: inline-block; ">
        <h1>3F</h1>
        <ul class="menu">
            <button class="button"><span>Estrai</span></button>
            <li><input type="checkbox" id="remove" value="Elimina dopo estrazione"><label for="remove">Elimina dopo
                    estrazione</label></li>
        </ul>
    </div>

    <p id="numero"></p>
    <p id="nome"></p>
</div>

<% include ./partials/footer %>