<% include ./partials/header %>


<div class="container">
    <div style="display: inline-block; ">
        <h1>3F</h1>
        <button class="button"><span>Estrai</span></button>
    </div>

    <p id="numero"></p>
    <p id="nome"></p>
</div>

<% include ./partials/footer %>